body{
    position: relative;
    background: linear-gradient(260deg, #349eaa, #cdeaef);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #16343a;
    overscroll-behavior: none;
}

p{
    line-height: 1.6em;
    font-size: 17px;
}

h1, h2{ 
    text-align: center;
    line-height: 0.5em;
}


img{
   width: 325px;
   float:right;
   border-radius: 10px;
   margin: 15px;
   box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
   position: absolute;
}

#drumimage{
    right: 20px;
    top: 150px;
}

.dblwidth {
    width:380px;
}



h1{
    color: black;
    font-size:48px;
}

h2{
    color: black;
    font-size:40px;
}

h3{ 
    color: black;
    font-size: 25px;
    clear: both;
}

h1, h2{
    font-family: 'Segoe UI', sans-serif;
}

#familypic{
    left: 20px;
    top: 575px; /* adjust based on where My Dreams section starts */
}

#friendspic{
    right: 20px;
    top: 975px;
}

.gold{
    color: rgb(255, 174, 0); 
    font-style: italic;
}

#container{
    width: 575px;
    margin:0 auto;
    background: linear-gradient(180deg, rgba(255,255,255,0.25), rgba(255,255,255,0.1));
    backdrop-filter: blur(6px);
    padding: 20px 40px;
    border-radius: 16px;
}

a:link{
    font-weight: bold;
    text-decoration: none;
    color: #7eeaea;
}

a:visited{
    color: #4ab8b8; 
}

a:hover{
    text-decoration: underline;
}